@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cheese Gallery!</h1>
    <h2>Learn about different cheeses from around the world</h2>
    <p><em>Click on Cheese ^^ to expand your mind...</em></p>
</div>
